* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
.menu {
  border: solid red;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.menu > div > img {
  width: 200px;
}
.menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.menu > ul > li > a {
  color: #fff;
}
.menu > ul > li > a:hover {
  background-color: #fd6f00;
  padding: 6px;
  border-radius: 6px;
}
main{
    margin-top: 40px;
}
.p-0{
  padding: 0 !important;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.container-reverse{
  flex-direction: column-reverse;
}
.text-center{
  text-align: center;
}

.profile {
  border-radius: 50%;
  border: solid 2px #fd6f00;
  width: 250px;
  height: 250px;
  position: relative;
  background-color: #fff;
}

.profile > img {
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: 30px;
  object-fit: cover;
}
.social-media {
  display: flex;
  padding: 32px;
  justify-content: center;
  align-items: center;
  gap: 25px;
  width: 250px;
}
.gretting {
  font-weight: 600;
  font-size: 18px;
}

.full-name {
  font-weight: 600;
  font-size: 24px;
  color: #fd6f00;
}
.title {
  font-size: 52px;
}

.description {
  line-height: 1.5;
  margin-bottom: 30px;
}
.btn-primary {
  font-family: "Poppins", sans-serif;
  background-color: #fd6f00;
  color: #fff;
  border: none;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 5px;
}
.text-2xl{
  font-size: 32px;
  margin-bottom: 20px;
}
.progress-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}
.progress-container > progress{
  width: 100%;
  border-radius: 6px;
  height: 12px;
}
.progress-container > progress::-webkit-progress-bar{
  background-color: white;
  border-radius: 6px;
}
.progress-container > progress::-webkit-progress-value{
  background-color: #fd6f00;
  border-radius: 6px;
}
.container-card-services{
  border: solid 3px red;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.card-service{
  background-color: #f8f8f8;
  color: #000;
  padding: 18px;
  border-radius: 14px;
  width: 330px;
}
.card-service > img{
  padding-top: 36px;
} 
.card-service > h3{
  padding-top: 10px;
}
.card-service > p{
  padding-top: 10px;
  padding-bottom: 36px;
} 
.grid-projects {
  display: grid;
  gap: 50px;
}
.card{
  color : #fff
}
.card-images {
  background-color: #ffebdb;
  border-radius: 6px;
  position: relative;

  width: 445px;
  height: 489px;
  text-align: right;
}
.card-images > div  > img {
  width: 274px;
}
.card-images > div > img:first-child {
  position: absolute;
  bottom: -3px;
  right: 115px;
}
.card-images > div > img:last-child {
  padding-right: 40px;
  height: 489px;
  object-fit: cover;
}
.card-body{
  margin-top: 30px;

}
.card-body > p {
  color: #fd6f00;
  margin-bottom: 15px;
}
footer{
  margin-top: 50px;
}
.container-footer{
  background-color: #121212;
  text-align: center;
  padding: 26px;
}
.container-footer > p > span{
  color: #fd6f00;
}
@media (min-width: 1025px) {
  .menu {
    flex-direction: row;
    justify-content: space-between;
    padding: 60px;
  }
  .menu > ul {
    flex-direction: row;
    gap: 40px;
  }
  main{
    max-width: 1400px;
    margin: auto;
  }
  .container{
    flex-direction: row;
    /*justify-content: space-between;*/
    /*max-width: 60%;*/
    /*margin: auto;*/
  }
  .container > section:first-child{
    flex-grow: 1;
  }
  .container > section:last-child{
    flex-grow: 1;
  }
  .title{
    font-size: 62px;
    width: 13ch;
  }
   .description {
    width: 50ch;
    margin-top: 30px;
  }
  .container-card-services{
    flex-direction: row;
  }
  .grid-projects{
    grid-template-columns: repeat(3,1fr);
  }
}
