* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #1e1e1e;
  color: #fff;
}
a{
    text-decoration: none;
}
.menu {
  border: solid red;
  padding: 28px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
.menu > div > img {
  width: 200px;
}
.menu > ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 16px;
  justify-content: center;
  align-items: center;
}
.menu > ul > li > a {
 
  color: #fff;
}
.menu > ul > li > a:hover {
  background-color: #fd6f00;
  padding: 6px;
  border-radius: 6px;
}
@media (min-width:1025px) {
    .menu{
        flex-direction: row;
        justify-content: space-between;
        padding: 60px;
    }
    .menu > ul{
        flex-direction: row;
        gap: 40px;
    }
}