*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: "alata", sans-serif;
}

header{
    height: 100vh;
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;  
}

header > div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    padding: 30px;
}
header > div > div{
    border: solid;
    width: 100%;
    overflow: hidden;
}

h1,h2,h3,h4,h5,h6,button{
    font-weight: 300;
    font-family: "Josefin Sans", sans-serif;
}

h1{
    font-size: 55px;
    width: 10ch;
    padding: 20px;

}

.container{
    margin: auto;
    padding: 30px;
    text-align: center;
    margin-top: 40px;
}

.container-intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.container-intro > p{
    color: #c9c9c9;
    line-height: 2;
    width: 30ch;
}

.text-2xl{
    font-size: 48px;
}

.container-creations{
    margin-top: 50px;
    display: grid;
    gap: 30px;
}

.container-creations > div > h4{
    font-size: 28px;
    color: #fff;
    width: 9ch;
    text-align: left;
}

.creation{
    padding: 20px;
    height: 150px;
    display: flex;
    align-items: end;
    background-repeat: no-repeat;
    background-size: cover;
}

.creation-1{
    background-image: url(./images/mobile/image-deep-earth.jpg);

}

.creation-2{
    background-image: url(./images/mobile/image-night-arcade.jpg);

}

.creation-3{
    background-image: url(./images/mobile/image-soccer-team.jpg);

}

.creation-4{
    background-image: url(./images/mobile/image-grid.jpg);

}

.creation-5{
    background-image: url(./images/mobile/image-from-above.jpg);

}

.creation-6{
    background-image: url(./images/mobile/image-pocket-borealis.jpg);

}

.creation-7{
    background-image: url(./images/mobile/image-curiosity.jpg);

}

.creation-8{
    background-image: url(./images/mobile/image-fisheye.jpg);

}
.container-button{
    margin-top: 30px;
    margin-bottom: 50px;
}

.container-button > button{
    background-color: transparent;
    padding: 15px 50px;
    font-size: 18px;
    border: 1px solid;
}

a{
    text-decoration: none;
    color: inherit;
}

footer{
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: #000;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
    color: #fff;
}
.menu-footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.menu-footer-list{
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    text-align: center;
}
.footer-social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer-text{
    text-align: center;
}