*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-size: 15px;
    font-family: "Josefin Sans", sans-serif;
}

header{
    height: 100vh;
    background-image: url(./images/mobile/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    display: flex;
    flex-direction: column;
}

header > nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;  
}

header > div{
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 65px;
    width: 10ch;
    font-weight: 300;
}